<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ch.berco.loginmvvmfirebase">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:name=".FirebaseApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ui.auth.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.auth.SignupActivity"/>
        <activity android:name=".Biodata.IsiBiodataActivity"/>
        <activity android:name=".SplashAdmin"/>
        <activity android:name=".SplashUser"/>
        <activity android:name=".Menu.Admin.MenuAdmin"/>
        <activity android:name=".Menu.Admin.MenuSchedule"/>
        <activity android:name=".Menu.Admin.Schedule.AddSchedule"/>
        <activity android:name=".Menu.Admin.Schedule.ViewSchedule"/>
        <activity android:name=".Menu.User.MenuUser"/>
        <activity android:name=".Menu.User.MenuSchedule"/>
        <activity android:name=".Menu.User.Schedule.ViewSchedule"/>

        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts"/>
    </application>
</manifest>